@font-face {
    font-family: 'Proxima';
    src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.otf") format("opentype");
}

body { font-family: 'Proxima'; }

.alert p { display: inline !important; }
img { max-width: 100%; height: auto; } 
@media (min-width: 1440px) {
	.container { width: 1400px; }
}
a { cursor: pointer; }
a:hover { text-decoration: none; }
*:focus { outline: 0; }

#cke_18 { display: none; }

.text-green { color: #28a745; }
.text-orange { color: #ff9900; }
.text-red { color: #ff0000; }
.bg-black { background-color: #000; }

.btn.btn-primary { background-color: rgb(255, 126, 0); border-color: rgb(255, 126, 0); color: #fff; }
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active { background-color: rgb(255, 126, 0); border-color: rgb(255, 126, 0); color: #000; }


form { margin: 0; }
.table td, .table th { vertical-align: middle; border: 0; padding: .30rem 1rem; }
.table td .btn { padding: .1rem .4rem; }
.navbar-brand svg { width: 180px; height: 24px; }


.navbar { padding: 0 30px; }
.dropdown { position: absolute; list-style: none; background-color: #000; display: none; z-index: 9999; }
.nav-item:hover .dropdown { display: block; }
.nav-item .dropdown .nav-item .nav-link { padding: 13px; }

.nav-item .nav-link { padding: 1rem; }
.nav-item:hover { box-shadow: inset 0 -5px 0 rgb(255, 126, 0); }