@font-face {
    font-family: 'Proxima';
    src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.otf") format("opentype");
}

body { font-family: 'Proxima'; }

.alert p { display: inline !important; }
img { max-width: 100%; height: auto; } 
@media (min-width: 1440px) {
	.container { width: 1400px; }
}
a { cursor: pointer; }
a:hover { text-decoration: none; }
*:focus { outline: 0; }

#cke_18 { display: none; }

.text-green { color: #00ff17; }
.text-orange { color: #ff9900; }
.text-red { color: #ff0000; }
.bg-black { background-color: #000; }

.btn.btn-primary { background-color: rgb(255, 126, 0); border-color: rgb(255, 126, 0); color: #fff; }
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active { background-color: rgb(255, 126, 0); border-color: rgb(255, 126, 0); color: #000; }


form { margin: 0; }
.table td, .table th { vertical-align: middle; border: 0; padding: .30rem 1rem; }

.navbar-brand svg { width: 180px; height: 24px; }